.greeting {
	font-size: 1.75em;
  color: #474534;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bs-dark.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.bs-dark .navbar-img {padding:5px 6px !important;}
.bs-dark .navbar-img img {width:40px;}
.bs-dark .dropdown-menu {
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.bs-dark .dropdown-menu .divider {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.bs-dark .dropdown-menu > li > a {
  padding: 6px 20px;
  color: rgba(255,255,255,0.80);
}
.bs-dark .dropdown-menu > li > a:hover,
.bs-dark .dropdown-menu > li > a:focus {
  color: rgba(255,255,255,0.70);
  text-decoration: none;
  background-color: transparent;
}
.bs-dark .dropdown-menu > .active > a,
.bs-dark .dropdown-menu > .active > a:hover,
.bs-dark .dropdown-menu > .active > a:focus {
  color: rgba(255,255,255,0.70);
  text-decoration: none;
  background-color: transparent;
  outline: 0;
}

.bs-dark .navbar-form {
  margin:0;
  margin-top: 5px;
  padding:8px 0px;
}

.bs-dark .navbar-form .search-box {
  border:0px;
  height:35px;
  outline: none;
  width:320px;
  padding-right: 3px;
  padding-left: 15px;
  margin:4px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}

.bs-dark .navbar-form button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -34px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bs-dark .search-box:focus + button {
  z-index: 3;
}

@media (min-width: 768px) {
    .bs-dark .dropdown:hover {background-color: #000;}
	.bs-dark .dropdown:hover .dropdown-menu {
	  display: block;
	}
	.bs-dark .navbar-form {
	  padding:0px;
	}
	.bs-dark .navbar-form .search-box {
	  width:260px;
	  height:32px;
	}

}

header {
	background-color: #004b91;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004b91), color-stop(100%, #012b53));
	background-image: -webkit-linear-gradient(top, #004b91, #012b53);
	background-image: -moz-linear-gradient(top, #004b91, #012b53);
	background-image: -ms-linear-gradient(top, #004b91, #012b53);
	background-image: -o-linear-gradient(top, #004b91, #012b53);
	background-image: linear-gradient(top, #004b91, #012b53);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004b91', endColorstr='#012b53', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#004b91', endColorstr='#012b53')";
	height:120px;
}

header.home {
	height:400px;
}

header .container {
	height:120px;
	background:transparent url("http://dev.markitondemand.com/Content/Images/bg_pageheader.png") top left no-repeat;
}

header.home .container {
	height:400px;
	background-image:url("http://dev.markitondemand.com/Content/Images/wave.png");
}

header h1 { padding:20px 0 0 0; }
header h1 a {
	display:block;
	text-indent:-9999px;
	background: url(http://dev.markitondemand.com/Content/Images/mod-logo.png) no-repeat;
	width: 297px;
	height: 34px;
}

header.home h1 { padding-top:30px; }

header.home p {
	padding-top:36px;
	font-size:27px;
	line-height:36px;
	letter-spacing:.03em;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
	color:#fff;
}

header.home .btn {
	margin-top:10px;
}

.web {
	background: transparent url("http://dev.markitondemand.com/Content/Images/bg_pagebodyweb.png") top left no-repeat;
}


.hero-unit {
	background: transparent;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.hero-unit h2 {
	font-size: 40px;
}

h1, h2, h3, h4, h5 {
	font-weight: 200;
}

p.terms {
	font-size:11px;
	margin-top:20px;
}

.view,
.view ~ p {
	margin-top: 20px;
}


#resultContainer h4 { margin-bottom:8px; }
#resultContainer th,
#resultContainer td { text-align:right; }
